/* CSS pgs --------------------------------------------*/
@import "fonts.css";
@import "utilities.css";
@import "forms.css";

/* Color Variables -------------------------------------*/
:root {
	--main-text-color: #000;
	--gray-bg: #222;
	--dark-gray: #555;
	--yellow: #efe0a4;
}

/* Header ---------------------------------------------*/
.navbar {
	background-color: #fff;
	height: 65px;
	padding: 10px;

}
.logo {
	display: flex;
	justify-content: center;
}
.navbar ul {
	display: flex;
	flex-wrap: wrap;
}
.navbar li {
	justify-content: flex-start;
	margin: 0 5px;
}
.navbar nav a {
	padding: 22px 10px;
}
.navbar img {
	width: 235px;
	margin-right: 40px;
}
.current {
	/* font-weight: 700; */
	text-shadow: 0 0 .65px var(--main-text-color), 0 0 .65px var(--main-text-color);
}


/* Cover Image (Home)----------------------------------*/
.cover-img {
	background-color: var(--gray-bg);
	background-image: url(../images/home.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 650px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cover-overlay {
	width: 100%;
	height: 100%;
	background: var(--gray-bg);
	/* opacity: .275; */
   opacity: .5;
	position: absolute;
}

/* Cover Image (Dover)----------------------------------*/
.cover-img-dover {
	background-color: var(--gray-bg);
	background-image: url(../images/home-dover.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 650px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Cover Image (Bronx)----------------------------------*/
.cover-img-bronx {
	background-color: var(--gray-bg);
	background-image: url(../images/bronx-map-low.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 650px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Cover Image (Contact)----------------------------------*/
.cover-img-contact {
	background-color: var(--gray-bg);
	background-image: url(../images/adam-solomon-WHUDOzd5IYU-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 650px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cover-overlay-contact {
	width: 100%;
	height: 100%;
	background: var(--gray-bg);
	opacity: .7;
	position: absolute;
}

/* Cover Image (Inquire)----------------------------------*/
.cover-img-inquire {
	background-color: var(--gray-bg);
	background-image: url(../images/jaye-haych-7tkDoo2L_Eg-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 650px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Cover Image (Agreement)----------------------------------*/
.cover-img-agreement {
	background-color: var(--gray-bg);
	background-image: url(../images/agreement.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 650px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* ---About Section--- */
.about {
   margin: 150px auto;
   max-width: 750px;
   text-align: center;
}
.about h3 {
   text-align: center;
   margin: 20px 0;
}


/* ---Properties Section (Home)--- */
.properties-home {
   padding-bottom: 150px;
}
.properties-home .properties-right .thumb-img {
	overflow: hidden;
}
.properties-home .properties-right .thumb-img img {
	width: 142.415%;
}
.properties-home .thumb-img {
   margin-bottom: 20px;
}


/* ---Quote Section--- */
.quote {
   padding: 150px 0;
   text-align: center;
   background-color: var(--yellow);
}
.quote h2 {
   letter-spacing: 0;
   font-style: italic;
}

/* DOVER PAGE ------------------------------------------*/
/* ---Property Info--- */
.property-info {
   margin: 100px auto;
}
.property-info .information {
   max-width: 650px;
}
.property-info p {
   margin-bottom: 20px;
}
.property-info .property-highlights li {
   font-family: 'Karoll-LightRound', sans-serif;
   font-size: 27px;
   margin: 10px 0 20px;
}
.property-info .italic {
   font-style: italic;
   font-weight: 300;
}

/* ---Image gallery--- */
.img-gallery {
   margin-bottom: 50px;
}

/* ---Local Attraction--- */
.attractions {
   /* margin-bottom: 150px; */
   padding-bottom: 80px;
   color: var(--dark-gray);
}
.attractions p {
   font-weight: 400;
}
.attractions li {
   list-style-type: circle;
   margin: 0px 0 5px 25px;
   font-weight: 300;
}

/* Reviews */
.reviews {
   /* margin-bottom: 150px; */
   padding: 80px 0;
   color: var(--main-text-color);
   background-color: var(--yellow);
}
.reviews h2, .reviews p {
   font-style: italic;
}

/* Contact Page ----------------------------------------------*/
.contact {
   /* margin: 100px auto; */
	padding: 100px 40px;
}
.contact p {
   margin: 0;
}
.contact .contact-info div {
   margin-bottom: 20px;
}
.contact-p-bold {
   font-weight: 400;
}

/* Inquire Page ----------------------------------------------*/
.inquire {
   margin: 100px auto;
}
.inquire-form p {
   margin-bottom: 25px;
   font-weight: 400;
}

/* Property Rules Page ----------------------------------------------*/
.agreement {
   margin: 100px auto;
}
.agreement ol {
   margin-left: 15px;
}
.agreement ol li {
   font-weight: 300;
   margin-bottom: 10px;
   padding-left: 10px;
}
.agreement ol li span {
   font-weight: 400;
}

/* Footer --------------------------------------------------*/
footer {
   padding: 20px 0;
   background-color: var(--gray-bg);
   color: #999;
}
footer p {
   font-size: 13px;
	margin: 0;
}


/* MEDIA QUERIES ----------------------------------------------*/

@media(min-width: 931px) {

	.navbar li {
		margin: 0;
	}
	.navbar nav a {
		padding: 22px 15px;
	}
	.navbar a:hover {
		text-shadow: 0 0 .65px var(--main-text-color), 0 0 .65px var(--main-text-color);
		transition: .2s ease-in-out;
	}
	.navbar li > ul.drop-menu {
		position: absolute;
		display: block;
		overflow: hidden;
		padding: 4px 7px 15px 7px;
		z-index: 2;
		background: #fff;
		-webkit-box-shadow: 1px 16px 10px -12px rgba(0, 0, 0, 0.4);
		box-shadow: 1px 16px 10px -12px rgba(0, 0, 0, 0.4);
		height: 0px;
		width: 150px;
		text-align: center;
		margin-left: -17px;
		transition: height .6s;
	}
	.navbar li:hover > ul.drop-menu {
		height: 115px;
	}
	.navbar .drop-menu li {
		padding-top: 17px;
	}
}


@media(max-width: 930px) {

	/* Hamburger nav */
	.toggle-button {
		position: absolute;
		top: 14px;
		right: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 45px;
		height: 35px;
		padding: 10px;
	}
	.toggle-button .bar {
		height: 2px;
		width: 100%;
		background-color: var(--gray-bg);
		border-radius: 5px;
		transition: 0.4s;
	}

	/* Rotate first bar */
	.change .bar1 {
	  -webkit-transform: rotate(-45deg) translate(-3px, 3px) ;
	  transform: rotate(-45deg) translate(-3px, 3px) ;
	}

	/* Fade out the second bar */
	.change .bar2 {
	  opacity: 0;
	}

	/* Rotate last bar */
	.change .bar3 {
	  -webkit-transform: rotate(45deg) translate(-7px, -7px) ;
	  transform: rotate(45deg) translate(-7px, -7px) ;
	}

	.navbar {
		width: 100%;
		height: 60px;
		flex-direction: column;
		justify-content: flex-start;
		transition: height .6s;
	}
	.navbar.active {
		width: 100%;
		height: 300px;
	}

	.navbar .properties-li {
		height: 43px;
		/* display: flex;
		flex-direction: column; */
		overflow: hidden;
		margin-bottom: 2px;
		transition: height .6s;
	}
	.navbar .properties-li.active {
		height: 140px;
	}

	/* for when the properties dropmenu is open resize the height of the navbar to accomodate for the space */
	.properties-active {
		width: 100%;
		height: 390px;
	}

	.navbar.container {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar nav {
		display: flex;
		width: 100%;
		margin-top: 10px;
	}

	.navbar nav ul {
		width: 100%;
		flex-direction: column;
	}
	.navbar nav ul li {
		text-align: center;
		padding: 10px 0;
	}
	.navbar li {
		margin: 0;
	}
	.navbar .logo img {
		margin: 0;
	}

	.navbar .drop-menu {
		margin-top: 7px;
		-webkit-box-shadow: inset 0px -7px 6px -3px rgba(0,0,0,0.05), inset 0px 7px 6px -3px rgba(0,0,0,0.05);
		box-shadow: inset 0px -7px 6px -3px rgba(0,0,0,0.05), inset 0px 7px 6px -3px rgba(0,0,0,0.05);
		background-color: #fbfbfb;
	}

	/* dover gallery imgs */
	.grid-2-gallery {
		grid-template-columns: 1fr;
	}
	/* inquire page form */
	.grid-2-contact {
		grid-template-columns: 1fr;
	}

	/*removed top-bottom margin and added padding for click to close nav in mobile function*/
	.about {
		margin: 0 auto;
		padding: 100px 40px;
	}
	.property-info,
	.inquire,
	.agreement {
		padding: 80px 40px;
		margin: 0 auto;
	}

}


/* ---Tablets--- */
@media(max-width: 768px) {

	.cover {
		height: 500px;
	}
	h1 {
		font-size: 55px;
	}
	.grid, .grid-2, .reviews .grid-3 {
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
		/* grid-template-rows: 1fr; */
	}
	.attractions .grid-3 {
		grid-template-columns: 1fr 1fr;
	}
	.quote {
		padding: 80px 0 60px 0;
	}
	.properties-home {
		padding-bottom: 80px;
	}
	.properties-home h2 {
		margin-bottom: 0;
	}

	.contact,
	.inquire,
	.agreement {
		padding: 80px 40px;
	}
}


/* ---Mobile--- */
@media(max-width: 500px) {

	.navbar .logo img {
		width: 200px;
	}
	.cover {
		height: 350px;
	}
	.attractions .grid-3 {
		grid-template-columns: 1fr;
	}
	.about,
	.property-info,
	.contact,
	.inquire,
	.agreement {
		padding: 60px 40px;
	}
}
